<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <form
      method="POST"
      action="/listings/<%=listing._id%>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <h2>Edit Listing</h2>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add a Catchy Title"
          type="text"
          class="form-control"
          value="<%= listing.title %>"
          required
        />
        <div class="valid-feedback">Thats an Amazing Title!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required>
              <%= listing.description %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="row">
        <div id="more-img" class="mb-3 col-md-10 more-img">
          <label for="Image" class="form-label">Upload image</label>
          <input name="listing[image]" type="file" class="form-control" />
          <div class="invalid-feedback">Please provide atleast 1 file.</div>
        </div>
        <div class="mt-4 col-md-2">
          <a id="add-image" class="add-img btn">
            <i class="fa-solid fa-plus"></i>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="2000"
            class="form-control"
            value="<%= listing.price%>"
            required
          />
          <div class="invalid-feedback">Please provide a valid Price.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="enter country"
            class="form-control"
            type="text"
            value="<%= listing.country %>"
            required
          />
          <div class="invalid-feedback">Please provide a valid Country.</div>
        </div>
      </div>

      <div class="mb-2">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="enter location"
          type="text"
          class="form-control"
          value="<%= listing.location %>"
          required
        />
        <div class="invalid-feedback">Please provide a valid Location.</div>
      </div>
      <br />
      <button class="btn btn-dark edit-btn">Edit</button>
      <br /><br />
    </form>
  </div>
</div>
